<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="framework.telegram.ui">

    <!-- 读写扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application>

        <activity android:name=".imagepicker.ui.ImagePickerActivity" />

        <activity android:name=".imagepicker.internal.ui.AlbumPreviewActivity" />

        <activity android:name=".imagepicker.internal.ui.SelectedPreviewActivity" />

        <activity android:name=".cameraview.activity.VideoPreviewActivity" />

        <activity android:name=".cameraview.activity.PicturePreviewActivity" />

        <activity
            android:name="com.yhao.floatwindow.FloatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:theme="@style/permission_PermissionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".cameraview.activity.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="framework.telegram.ui.qr.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".filepicker.FilePickerActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
